.mission-vision-area {
    padding: 70px 0;
    background-image: url(../../assets/images/details/about-banner-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #141414 !important;
  }
  .single-mission{
    padding: 80px 40px;
    background-image: url(../../assets/images/details/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }
  .single-mission::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;
  }
  .single-mission i{
    font-size: 64px;
  }
  