.testimonial-area {
  padding: 100px;
  background-image: url(../../assets//images/menu/menu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
}
.testimonial-area::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.testimonial-text a {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: 10px 25px;
}
