.row>*{
    padding-right: 0 !important;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
.address{
    border-bottom: 3px solid #ffffff;
    padding: 2px 2px 2px 0;

}
.border-btm{
    border-bottom: 1px solid #ffffff;
}
.border-btm-2{
    border-bottom: 2px solid #ffffff;
}
.border-btm-3{
    border-bottom: 3px solid #ffffff;
}
.font-16{
    font-size: 16px;
}
.bold{
    font-weight: 700;
}
.margin-btm-30{
    margin-bottom: 30px;
}
h1,h2,h3,h4,h5,h6,p {padding: 3px;}

.input {
    background-color: rgb(57, 18, 93);
    width: 130px;
    border: none;
    color: white;
}
.row {
    border-bottom: 10px;
}
h6 {
    font-size: 14px;
}

.background {
    background-color: rgb(68, 68, 168);
}
.about {
    background-image: url(../../Assets/images/blog/1.jpeg);
}
.blog {
    height: 500px;
    width: 100%;
    background-color: aquamarine;
}